.font-lg {
    font-size: xx-large;
}

.text-shadow-lg {
    text-shadow: 3px 3px 5px #121212;
}

.text-shadow-sm {
    text-shadow: 1px 1px 2px #121212;
}

.page-header-container {
    background: url('https://theblueroseaffiliation.com/img/blue-rose-bg.jpg') no-repeat center center;
    background-size: cover;
    min-height: 24rem;
}

.page-header {
    color: white;
}

.page-header-container .page-header {
    margin-left: 10rem;
    margin-top: 10rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
